@import "~@fortawesome/fontawesome-free/css/all.min.css";

.GameScreen {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 20px;
}

h1 {
  font-size: 32px;
  margin-bottom: 16px;
  text-align: center;
}

.question-button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 24px;
  color: black;
  align-self: flex-end; /* Add this line */
  margin-bottom: 10px; /* Add this line */
}

.help-guide {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s;

  &.open {
    visibility: visible;
    opacity: 1;
  }

  .help-content {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    max-width: 480px; /* Adjust the value based on your preference */
    width: 90%; /* Adjust the value based on your preference */
    text-align: left;

    .help-content-rules {
      font-family: "nyt-franklin";
      font-size: 16px;
      line-height: 20px;
      list-style-type: disc;
      font-weight: 500;
      -webkit-margin-before: 1em;
      margin-block-start: 1em;
      -webkit-margin-after: 1em;
      margin-block-end: 1em;
      -webkit-padding-start: 20px;
      padding-inline-start: 20px;
      color: var(--color-tone-1);
      margin-bottom: 10px;

      li {
        margin-bottom: 5px;
      }
    }

    h2 {
      font-size: 26px;
      font-weight: 600;
    }

    h3 {
      font-size: 18px;
      font-weight: 400;
    }

    .close-button {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      color: #888;
    }
  }
}

.close {
  display: none;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.number {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input-box {
  margin: 0 5px;
  border-radius: 5%;

  &.disabled {
    border: 3px solid lightgray;

    &.incorrect-guess {
      background-color: #fff;
      color: #000;
    }

    &.correct-guess {
      background-color: orange;
      color: #fff;
    }
  }

  &.active {
    border: 3px solid orange;
  }
}

.separator {
  width: 21px;
  height: 3px;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
  background-color: black;
  border-bottom: 3px solid black;
  /* border-width: 0 0 0 20px; */
}

input {
  height: 40px;
  width: 40px;
  text-align: center;
  padding: 5px;
  font-size: 28px;

  :disabled {
    border: 10px solid red;
  }
}

.check-guess {
  padding: 10px 20px;
  font-size: 24px;
  border-radius: 5px;
  &.active {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  &.disabled {
    background-color: gray;
    color: #fff;
    border: none;
    cursor: pointer;
  }
}

.clue-display {
  background-color: #90ee90;
  margin-left: auto;
  margin-right: auto;
  width: 470px;
  height: 190px;
  display: flex;
  border: 5px solid green;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;

  .clue {
    height: 20px;
    display: flex;
    flex-direction: row;
    margin: 0 5px 12px 5px;
  }

  .clue-number {
    // -webkit-text-stroke: 3px black;

    color: white;
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
    padding-right: 5px;
  }

  .clue-text {
    color: white;
    font-size: 20px;
    line-height: 26px;
  }
}
