.GameScreen {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.number {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input-box {
  margin: 0 5px;
  border-radius: 20%;
}

.input-box .disabled {
    border: 5px solid gray;
  }

.input-box .active {
  border: 5px solid  red;
  margin: 20px;
}

.separator {
  width: 21px;
  height: 3px;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
  background-color: black;
  border-bottom: 3px solid black;
  /* border-width: 0 0 0 20px; */
}

input {
  height: 40px;
  width: 40px;
  text-align: center;
  padding: 5px;
  font-size: 28px;
}


button {
  padding: 10px 20px;
  font-size: 24px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.GuessList {
  margin-top: 20px;
}

.GuessList h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.GuessList ul {
  list-style-type: none;
  padding: 0;
}

.GuessList ul li {
  margin-bottom: 5px;
}

.clue {
  background-color: #f5f5f5;
  padding: 10px;
  margin-bottom: 10px;
}

.previous-guesses {
  font-size: 28px;
}

.guesses-list {
  /* Add any desired styles for the unordered list */
  list-style-type: none;
  padding: 0;
}

.guess-number {
  /* Add any desired styles for the guess number */
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin: 6px;
  border: 3px solid #000;
  background-color: #fff;
  color: #000;
  position: relative;
  font-size: 24px;
  text-align: center;
}

/* .guess-number:not(:last-child)::after {
  content: "-";
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
} */

.correct-guess {
  /* Add styles for correct guesses */
  background-color: orange;
  color: #fff;
}

.incorrect-guess {
  /* Add styles for incorrect guesses */
  background-color: #fff;
  color: #000;
}

.guess-separator {
  position: absolute;
  margin-left: 22px;
  font-size: 40px;
  line-height: 32px;
}

.number-division {
  margin-right: 22px;
}
